@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300,600,800,400);
@import "https://fonts.googleapis.com/css?family=Montserrat:300,400,700";
html, body {
 margin: 0;
 padding: 0;
 background: #5d676c;
 font-family: 'Open Sans', sans-serif;
}
.l-site {
 margin: 0 auto;
 max-width: 1600px;
 position: relative;
 z-index: 1;
}
.l-site:before {
 content: "";
 position: fixed;
 top: 0;
 left: 0;
 bottom: 0;
 width: 50%;
 display: block;
 background: #3a4043;
 z-index: 1;
}
.l-page {
 position: relative;
 margin-left: 240px;
 background: #fff;
 z-index: 2;
 box-shadow: 1px 0 25px rgba(0, 0, 0, 0.25);
 -webkit-transition: 0.35s;
 -moz-transition: 0.35s;
 transition: 0.35s;
}
.l-nav {
 position: absolute;
 width: 240px;
 display: block;
 background: #3a4043;
 top: 0;
 bottom: 0;
 left: 0;
 z-index: 2;
}
.band h1 {
 margin: 0;
 padding: 0 0 10px;
 color: #fff;
 font-size: 32px;
}
.band p {
 margin: 0;
 padding: 0;
 color: #fff;
 font-size: 17px;
}
.band-container {
 left: 0;
 right: 0;
 margin: 0 auto;
 max-width: 960px;
 display: table;
 position: relative;
 padding: 0 3em;
}
.band-inner {
 display: table-cell;
 vertical-align: middle;
 padding: 0px;
}
.band-a {
 background-color: #ffffff; 
}
.band-b {
 background: #F9D423;
}
.band-c {
 background: #38b000;
}
.band-d {
 background: #FF4E50;
}
.band-e {
 background: #77183a;
}
.band-f {
 background: #fff;
}
.nav {
 width: 180px;
 position: fixed;
 top: 0;
 bottom: 0;
 margin: 0;
 padding: 30px;
 overflow: auto;
}
.nav ul {
 margin: 0;
 padding: 0;
 list-style: none;
}
.nav li {
 margin: 0;
 padding: 0;
 -webkit-transition: 0.25s;
 -moz-transition: 0.25s;
 transition: 0.25s;
}
.nav a {
 color: #fff;
 text-decoration: none;
 font-size: 20px;
 font-weight: 800;
 display: block;
 padding: 10px 0;
}
.nav .nav-primary {
 opacity: 1;
}
.nav .nav-primary:hover {
 opacity: 0.7;
}
.nav .nav-secondary {
 opacity: 0.4;
}
.nav .nav-secondary:hover {
 opacity: 0.7;
}
.menu {
 display: none;
 position: fixed;
 top: 25px;
 left: 1.5em;
 width: 24px;
 height: 24px;
 cursor: pointer;
 z-index: 10;
 background-color: #ffff00;
}
.menu:hover .menu-hamburger:before, .menu:hover .menu-hamburger:after {
 width: 24px;
}
.menu.is-active .menu-hamburger {
 background: none;
}
.menu.is-active {
 position: fixed;
}
.menu.is-active .menu-hamburger:before, .menu.is-active .menu-hamburger:after {
 top: 0;
 width: 24px;
 -webkit-transform: rotate(45deg);
 -ms-transform: rotate(45deg);
 transform: rotate(45deg);
}
.menu.is-active .menu-hamburger:after {
 -webkit-transform: rotate(-45deg);
 -ms-transform: rotate(-45deg);
 transform: rotate(-45deg);
}
.menu.is-active .menu-hamburger:hover {
 -webkit-transform: scale(1.2);
 -ms-transform: scale(1.2);
 transform: scale(1.2);
}
.menu-hamburger {
 position: relative;
 width: 24px;
 height: 4px;
 margin: 10px 0;
 background: #000;
 border-radius: 4px;
 transition: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.menu-hamburger:before, .menu-hamburger:after {
 content: '';
 display: block;
 width: 24px;
 height: 4px;
 background: #000;
 position: absolute;
 border-radius: 4px;
 transition: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.menu-hamburger:before {
 top: -8px;
 left: 0;
 width: 22px;
}
.menu-hamburger:after {
 top: 8px;
 width: 16px;
 left: 0;
}
@media screen and (max-width: 980px) {
 .menu {
  display: block;
 }
 .l-site.is-open {
  overflow: hidden;
 }
 .l-site.is-open .l-page {
  -webkit-transform: translateX(240px);
  -moz-transform: translateX(240px);
  -ms-transform: translateX(240px);
  -o-transform: translateX(240px);
  transform: translateX(240px);
 }
 .l-page {
  margin-left: 0;
  z-index: 3;
 }
 .l-nav {
  z-index: 2;
 }
 .band-container {
  padding: 0 1em;
 }
}

/* ======================================== */
.u-clearfix:before, .u-clearfix:after {
 content: " ";
 display: table;
}
.u-clearfix:after {
 clear: both;
}
.u-clearfix {
 *zoom: 1;
}
.subtle {
 color: #aaa;
}
.card-container {
 margin: 0px auto 0;
 position: relative;
 width: 100%;
}
.card {
 padding: 30px;
 position: relative;
 z-index: 1;
}
.card-body {
 display: inline-block;
 width: 50%;
}
.card-number {
 margin-top: 15px;
}
.card-author {
 display: block;
 font-size: .8em;
 letter-spacing: .5px;
 margin: 15px 0;
 text-transform: uppercase;
 color: #77183a;
 font-weight: bold;
}
.card-title {
 font-size: 2.3em;
 line-height: 60px;
 padding: 5px 0;
 text-transform: uppercase;
 color: #77183a;
}
.card-description {
 font-size: .9em;
 display: block;
 font-weight: bold;
 line-height: 22px;
 margin: 15px 0;
 color: #77183a;
}
.card-read {
 cursor: pointer;
 font-size: 14px;
 font-weight: 700;
 letter-spacing: 6px;
 margin: 5px 0 20px;
 position: relative;
 text-transform: uppercase;
}
.card-tag {
 text-align: left;
}
.card-media {
 float: right;
 width: 35%;
}
a.external {
 color: #77183a;
 display: block;
 text-decoration: none;
 font-size: 0.9em;
}
@media only screen and (max-width: 480px) {
 .card-media {
  margin-top: 210px;
 }
}
div.logo_u img{
 width: 125%; 
 margin: 0px auto; 
 display: block;
}
@media only screen and (max-width: 480px) {
 div.logo_u img{
  width: 215%; 
 }
}

/* ====================================== */

.rwd-table {
 margin: 1em 0;
}
.rwd-table tr {
 border-top: 1px solid #ddd;
 border-bottom: 1px solid #ddd;
}
.rwd-table th {
 display: none;
}
.rwd-table td {
 display: block;
}
.rwd-table td:first-child {
 padding-top: .5em;
}
.rwd-table td:last-child {
 padding-bottom: .5em;
}
.rwd-table td:before {
 content: attr(data-th) ": ";
 font-weight: bold;
 width: 6.5em;
 display: inline-block;
}
@media (min-width: 480px) {
 .rwd-table td:before {
  display: none;
 }
}
.rwd-table th, .rwd-table td {
 text-align: left;
}
@media (min-width: 480px) {
 .rwd-table th, .rwd-table td {
  display: table-cell;
  padding: .25em .5em;
 }
 .rwd-table th:first-child, .rwd-table td:first-child {
  padding-left: 0;
 }
 .rwd-table th:last-child, .rwd-table td:last-child {
  padding-right: 0;
 }
}
.rwd-table {
 background: #34495E;
 color: #fff;
 border-radius: .4em;
 overflow: hidden;
 margin: 0px auto;
}
.rwd-table tr {
 border-color: #46637f;
}
.rwd-table th, .rwd-table td {
 margin: .5em 1em;
}
@media (min-width: 480px) {
 .rwd-table th, .rwd-table td {
  padding: 1em !important;
 }
}
.rwd-table th, .rwd-table td:before {
 color: #F9D423;
}
/* ==================================================== */

div.cards::after {
 content: '';
 display: block;
 clear: both;
}
div.cards {
 text-align: center;
 float: none;
}
.cardbottom {
 background: #fff;
 height: 300px;
 margin: 1rem 2%;
 border-radius: .4em;
 width: 95%;
}
@media only screen and (min-width: 480px) {
 .cardbottom {
  float: left;
  width: 29%;
  border-radius: .4em;
 }
}
h1.cumcomple {
 color: #34495E;
 font-family: 'Montserrat', sans-serif;
 font-size: 7.8em;
 padding: 16% 0px;
}
p.cum {
 color: #34495E;
 letter-spacing: .5px;
 text-transform: uppercase;
 font-family: 'Open Sans', sans-serif;
}
a.vmas {
 text-decoration: none;
}
/* ============================================ */

.single-chart {
 padding: .2em 0px;
}
.circular-chart {
 display: block;
 margin: 10px auto;
 max-width: 80%;
 max-height: 250px;
}
.circle-bg {
 fill: none;
 stroke: #eee;
 stroke-width: 3.8;
}
.circle {
 fill: none;
 stroke-width: 2.8;
 stroke-linecap: round;
 animation: progress 180s ease-out forwards;
}
@keyframes progress {
 0% {
  stroke-dasharray: 0 100;
 }
}
.circular-chart.orange .circle {
 stroke: #34495E;
}
.percentage {
 fill: #34495E;
 font-family: 'Montserrat', sans-serif;
 font-size: 0.5em;
 text-anchor: middle;
}
h1.herotext {
 color: #34495E;
 margin-top: 2.0rem;
}
/* ================================================= */

:root {
 --color-white: #fff;
 --color-black: #333;
 --color-gray: #75787b;
 --color-gray-light: #bbb;
 --color-gray-disabled: #e8e8e8;
 --color-green: #53a318;
 --color-green-dark: #383;
 --font-size-small: .75rem;
 --font-size-default: .875rem;
}
* {
 box-sizing: border-box;
}
.progress-bar {
 display: flex;
 justify-content: space-between;
 list-style: none;
 padding: 0;
 margin: 0 0 1rem 0;
}
.progress-bar li {
 flex: 2;
 position: relative;
 padding: 0 0 14px 0;
 font-size: var(--font-size-default);
 line-height: 1.5;
 color: #77183a;
 font-weight: 600;
 white-space: nowrap;
 overflow: visible;
 min-width: 0;
 text-align: center;
 border-bottom: 2px solid var(--color-gray-disabled);
}
.progress-bar li:first-child, .progress-bar li:last-child {
 flex: 1;
}
.progress-bar li:last-child {
 text-align: right;
}
.progress-bar li:before {
 content: "";
 display: block;
 width: 8px;
 height: 8px;
 background-color: var(--color-gray-disabled);
 border-radius: 50%;
 border: 2px solid var(--color-white);
 position: absolute;
 left: calc(50% - 6px);
 bottom: -7px;
 z-index: 3;
 transition: all .2s ease-in-out;
}
.progress-bar li:first-child:before {
 left: 0;
}
.progress-bar li:last-child:before {
 right: 0;
 left: auto;
}
.progress-bar span {
 transition: opacity .3s ease-in-out;
}
.progress-bar li:not(.is-active) span {
 opacity: 0;
}
.progress-bar .is-complete:not(:first-child):after, .progress-bar .is-active:not(:first-child):after {
 content: "";
 display: block;
 width: 100%;
 position: absolute;
 bottom: -2px;
 left: -50%;
 z-index: 2;
 border-bottom: 2px solid  #7a7878;
}
.progress-bar li:last-child span {
 width: 200%;
 display: inline-block;
 position: absolute;
 left: -100%;
}
.progress-bar .is-complete:last-child:after, .progress-bar .is-active:last-child:after {
 width: 200%;
 left: -100%;
}
.progress-bar .is-complete:before {
 background-color: #77183a;
 border: 2px solid  #7a7878;
}
.progress-bar .is-active:before, .progress-bar li:hover:before, .progress-bar .is-hovered:before {
 background-color: #77183a;
 border-color:  #fff;
}
.progress-bar li:hover:before, .progress-bar .is-hovered:before {
 transform: scale(1.33);
}
.progress-bar li:hover span, .progress-bar li.is-hovered span {
 opacity: 1;
}
.progress-bar:hover li:not(:hover) span {
 opacity: 0;
}
.x-ray .progress-bar, .x-ray .progress-bar li {
 border: 1px dashed red;
}
.progress-bar .has-changes {
 opacity: 1 !important;
}
.progress-bar .has-changes:before {
 content: "";
 display: block;
 width: 8px;
 height: 8px;
 position: absolute;
 left: calc(50% - 4px);
 bottom: -20px;
 background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%208%208%22%3E%3Cpath%20fill%3D%22%23ed1c24%22%20d%3D%22M4%200l4%208H0z%22%2F%3E%3C%2Fsvg%3E');
}
/* =============================== */

div.progreso {
 left: 0;
 right: 0;
 margin: 0 auto;
 max-width: 65%;
 padding: 3em 0;
}
/* =================================== */

#ViewMore {
 cursor: pointer;
}
.moreview {
 display: none;
}

#ViewMore02 {
 cursor: pointer;
}
.moreview02 {
 display: none;
}

/* ========================== */

.carddocument {
 background: #fff;
 margin: 1rem 5%;
 border-radius: .4em;
 width: 40%;
 float: left;
}
@media only screen and (min-width: 480px) {
 .carddocument {
  margin: 1rem .5%;
  float: left;
  width: 12%;
  border-radius: .4em;
 }
}
h3.documenthero {
 font-family: 'Open Sans', sans-serif;
 color: #34495E;
 font-size: 1.0em;
 margin: .5rem auto;
}
img.documentimg {
 width: 70%;
}
a.documenthref {
 text-decoration: none;
 background: #34495E;
 padding: 5px 0px;
 color: #fff;
 display: block;
 border-radius: 0px 0px .4em .4em;
}
/* ================================================ */

.trip-detail-gallery {
 margin-bottom: 20px;
}
@media (min-width: 1050px) {
 .trip-detail-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 200px);
  grid-gap: 5px;
 }
 .gallery_item1 {
  grid-column: 1/3;
  grid-row: 1/3;
 }
 .trip-detail-gallery img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
 }
}
@media (min-width: 950px) and (max-width: 1049.99px) {
 .trip-detail-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 170px);
  grid-gap: 5px;
 }
 .gallery_item1 {
  grid-column: 1/3;
  grid-row: 1/3;
 }
 .trip-detail-gallery img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
 }
}
@media (max-width: 949.99px) {
 .trip-detail-gallery {
  width: 100%;
  height: 20%;
 }
 .trip-detail-gallery::-webkit-scrollbar {
  display: none;
 }
 .trip-detail-gallery img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  margin-right: 5px;
 }
 .trip-detail-gallery {
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: grab;
 }
 .trip-detail-gallery:active {
  cursor: -webkit-grabbing;
  cursor: -o-grabbing;
  cursor: grabbing;
 }
}
#lightgallery>div {
 position: relative;
 cursor: pointer;
 overflow: hidden;
}
#lightgallery>div img {
 transition: transform 0.15s ease 0s;
 /* -webkit-transform: scale3d(1, 1, 1); */
}
#lightgallery>div:hover img {
 -webkit-transform: scale3d(1.1, 1.1, 1.1);
 transform: scale3d(1.1, 1.1, 1.1);
}
#lightgallery>div:before {
 content: "";
 bottom: 0;
 left: 0;
 position: absolute;
 right: 0;
 top: 0;
 z-index: 1;
 -webkit-transition: background-color 0.15s ease 0s;
 transition: background-color 0.15s ease 0s;
}
#lightgallery>div:hover:before {
 background-color: rgba(0, 0, 0, 0.5);
}
#lightgallery>div:after {
 content: "";
 width: 20px;
 height: 20px;
 background: url('../img/zoom.png') no-repeat center center;
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 margin: auto;
 opacity: 0;
 z-index: 2;
 -webkit-transition: opacity 0.3s ease 0s;
 transition: opacity 0.3s ease 0s;
}
#lightgallery>div:hover:after {
 opacity: 1;
}
.lg-outer .lg-thumb {
 margin: auto;
}
@media (max-width: 949.99px) {
 #lightgallery>div {
  overflow: visible;
 }
 #lightgallery>div:hover img {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
 }
 #lightgallery>div:before {
  width: calc(100% - 5px);
  right: auto;
 }
}